<!DOCTYPE HTML>
[#include "../include/taglibs.html"/]
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>车辆信息</title>
    [#include "../include/base_js_css.html"/]
    <script type="text/javascript" src="${resource!}/js/carInfo/carInfo.js"></script>
  </head>
  <body>
    <div class="top_content">
      <!-- 查询车辆表单 -->
      <div class="" title=""  style="border-bottom: 0; height: 95px;" data-options="collapsible:true" fit="true">
        <form id="carInfo_form" method="post" class="search_form">
        <table>
          <tr>
            <td class="search_form_tdl"><label for="carNo">车辆编号：</label></td>
            <td class="search_form_tdr"><input name="carNo" id="carNo" type="text"/></td>
            <td class="search_form_tdl"><label for="carCardId">车牌号 ：</label></td>
            <td class="search_form_tdr"><input name="carCardId" id="carCardId" type="text"/></td>
            <td class="search_form_tdl"><label for="carLsp">承运商 ：</label></td>
            <td class="search_form_tdr"><input name="carLsp" id="carLsp" type="text"/></td>
          </tr>
          <tr>
          	<td class="search_form_tdl"><label for="carType">车辆类型：</label></td>
            <td class="search_form_tdr">
	            <select class="easyui-combobox" name="carType" style="width :132px" editable="false">
					<option value=''>请选择</option>
					<option value='1'>箱货</option>
					<option value='2'>卡车</option>
				</select>
            </td>
            <td class="search_form_tdl"><label for="starDate">起始时间 ：</label></td>
            <td class="search_form_tdr"><input  class="easyui-datebox" name="starDate" id="starDate"  editable="false"/></td>
            <td class="search_form_tdl"><label for="endDate">终止时间 ：</label></td>
            <td class="search_form_tdr"><input  class="easyui-datebox" name="endDate" id="endDate"  editable="false"/></td>
          </tr>
          <tr>
          	<td class="search_form_tdlf">&nbsp;</td>
			<td colspan="5" class="search_form_tdr">
              <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" id="search_form_submit">查询</a>
              <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reset" id="search_form_reset">重置</a>
            </td>
          </tr>
        </table>
        </form>
      </div>
    </div>

    <div id="carInfo" class="grid_content">
      <!-- 用户信息列表GRID -->
      <table id="carInfoView" fit="true">
      </table>
    </div>

    <!-- 添加车辆模块 begin -->
    <div id="carInfo_add_dialog" class="easyui-dialog" style="width: 650px; height: 390px; padding: 10px 20px" closed="true">
      <div class="ftitle">添加车辆信息</div>
      <form id="carInfo_add_form" method="post" novalidate class="ftitle_form">
        <table style="width: 100%; border: none; border: 0;" cellpadding="0" cellspacing="0">
          <tr class=form_tr_odd>
            <td width="20%" class="form_tdl"><label for="carNo">车辆编号:</label></td>
            <td width="30%" class="form_tdr"><input name="carNo" id="carNo" class="easyui-validatebox" required="true" validType="checkSpacebar"/> </td>
            <td width="20%" class="form_tdl"><label for="carCardId">车牌号:</label></td>
            <td width="30%" class="form_tdr"><input name="carCardId" id="carCardId" class="easyui-validatebox" required="true" validType="checkSpacebar"/> </td>
          </tr>
          <tr>
            <td class="form_tdl"><label for="carType">车辆类型:</label> </td>
          <td class="search_form_tdr">
          			<select class="easyui-combobox" name="carType" editable="false">
						<option value='1' selected='selected'>箱货</option>
						<option value='2'>卡车</option>
	         		</select>
            </td>
            <td class="form_tdl"><label for="carLsp">承运商 :</label> </td>
            <td class="form_tdr"><input name="carLsp" required="true" id="carLsp" class="easyui-validatebox" validType="checkSpacebar"/></td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="carBuyingTime">购买时间 :</label></td>
            <td class="search_form_tdr"><input  class="easyui-datebox" name="carBuyingTime" id="carBuyingTime"  editable="false"/></td>
            <td class="form_tdl"><label for="defaultDriver">默认司机:</label></td>
            <td class="form_tdr"><input name="defaultDriver" id="defaultDriver" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
          </tr>
          <tr>
            <td class="form_tdl"><label for="carModel">车型  :</label></td>
            <td class="form_tdr"> <input name="carModel" id="carModel" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="carLeaveFactoryDate">出厂日期:</label></td>
          	<td class="search_form_tdr">
          		<input  class="easyui-datebox" name="carLeaveFactoryDate" id="carLeaveFactoryDate"   editable="false"/>
          	</td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="productionCompany">生产厂家:</label></td>
            <td class="form_tdr"><input name="productionCompany" id="productionCompany" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="carBoxLength">箱体长度:</label></td>
            <td class="form_tdr"><input name="carBoxLength" id="carBoxLength" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="carVolume">核定体积:</label></td>
            <td class="form_tdr"><input name="carVolume" id="carVolume" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="useNature">使用性质:</label></td>
            <td class="form_tdr"><input name="useNature" id="useNature" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="trainstionInsuranceCompany">交强险投保公司:</label></td>
            <td class="form_tdr"><input name="trainstionInsuranceCompany" id="trainstionInsuranceCompany" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="trainstionInsuranceOverDate">交强险截止时间:</label></td>
            <td class="form_tdr">
            	<input  class="easyui-datebox" name="trainstionInsuranceOverDate" id="trainstionInsuranceOverDate"  editable="false"/>
            </td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="businessInsuranceCompany">商业险公司:</label></td>
            <td class="form_tdr"><input name="businessInsuranceCompany" id="businessInsuranceCompany" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="bisinessInsuranceOverDate">商业险截止时间:</label></td>
            <td class="form_tdr">
            	<input  class="easyui-datebox" name="bisinessInsuranceOverDate" id="bisinessInsuranceOverDate"  editable="false"/>
            </td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="carImportWay">车辆引入方式:</label></td>
            <td class="form_tdr"><input name="carImportWay" id="carImportWay" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="engineNo">发动机型号:</label></td>
            <td class="form_tdr"><input name="engineNo" id="engineNo" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
          </tr>
          <tr class="form_tr_odd">
                     <td class="form_tdl"><label for="oilConsumption">油耗:</label></td>
            <td class="form_tdr"><input name="oilConsumption" id="oilConsumption" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="carIsActivity">是否活动:</label></td>
            <td class="form_tdr">     
            	<select class="easyui-combobox" name="carIsActivity" editable="false">
					<option value='1'>是</option>
					<option value='2'>否</option>
				</select></td>
          </tr>
          <tr>
          	 <td class="form_tdl"><label for="comment">备注:</label></td>
            <td class="form_tdr" colspan="3"><textarea style="height: 80px; width: 250px;" name="comment" id="comment" validType="checkSpacebar"></textarea></td>
          </tr>
        </table>
      </form>
    </div>
    <!-- 添加车辆模块 end -->

    <!-- 修改车辆模块 begin -->
    <div id="carInfo_edit_dialog" class="easyui-dialog" style="width: 650px; height: 390px; padding: 10px 20px" closed="true">
      <div class="ftitle">车辆信息修改</div>
      <form id="carInfo_edit_form" method="post" novalidate class="ftitle_form">
         <table style="width: 100%; border: none; border: 0;" cellpadding="0" cellspacing="0">
          <tr>
          		<td>
          			<input type="hidden" name="carId" id="carId">
          		</td>
          </tr>
          <tr class=form_tr_odd>
            <td width="20%" class="form_tdl"><label for="carNo">车辆编号:</label></td>
            <td width="30%" class="form_tdr"><input name="carNo" id="carNo" class="easyui-validatebox" required="true" validType="checkSpacebar"/> </td>
            <td width="20%" class="form_tdl"><label for="carCardId">车牌号:</label></td>
            <td width="30%" class="form_tdr"><input name="carCardId" id="carCardId" class="easyui-validatebox" required="true" validType="checkSpacebar"/> </td>
          </tr>
          <tr>
            <td class="form_tdl"><label for="carType">车辆类型:</label> </td>
          <td class="search_form_tdr">
          			<select class="easyui-combobox" name="carType" editable="false">
						<option value='1' selected='selected'>箱货</option>
						<option value='2'>卡车</option>
	         		</select>
            </td>
            <td class="form_tdl"><label for="carLsp">承运商 :</label> </td>
            <td class="form_tdr"><input name="carLsp" required="true" id="carLsp" class="easyui-validatebox" validType="checkSpacebar"/></td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="carBuyingTime">购买时间 :</label></td>
            <td class="search_form_tdr"><input  class="easyui-datebox" name="carBuyingTime" id="carBuyingTime"  editable="false"/></td>
            <td class="form_tdl"><label for="defaultDriver">默认司机:</label></td>
            <td class="form_tdr"><input name="defaultDriver" id="defaultDriver" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
          </tr>
          <tr>
            <td class="form_tdl"><label for="carModel">车型  :</label></td>
            <td class="form_tdr"> <input name="carModel" id="carModel" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="carLeaveFactoryDate">出厂日期:</label></td>
          <td class="search_form_tdr"><input  class="easyui-datebox" name="carLeaveFactoryDate" id="carLeaveFactoryDate"  editable="false"/></td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="productionCompany">生产厂家:</label></td>
            <td class="form_tdr"><input name="productionCompany" id="productionCompany" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="carBoxLength">箱体长度:</label></td>
            <td class="form_tdr"><input name="carBoxLength" id="carBoxLength" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="carVolume">核定体积:</label></td>
            <td class="form_tdr"><input name="carVolume" id="carVolume" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="useNature">使用性质:</label></td>
            <td class="form_tdr"><input name="useNature" id="useNature" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="trainstionInsuranceCompany">交强险投保公司:</label></td>
            <td class="form_tdr"><input name="trainstionInsuranceCompany" id="trainstionInsuranceCompany" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="trainstionInsuranceOverDate">交强险截止时间:</label></td>
            <td class="form_tdr"><input  class="easyui-datebox" name="trainstionInsuranceOverDate" id="trainstionInsuranceOverDate"  editable="false"/></tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="businessInsuranceCompany">商业险公司:</label></td>
            <td class="form_tdr"><input name="businessInsuranceCompany" id="businessInsuranceCompany" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="bisinessInsuranceOverDate">商业险截止时间:</label></td>
            <td class="form_tdr"><input  class="easyui-datebox" name="bisinessInsuranceOverDate" id="bisinessInsuranceOverDate"  editable="false" class="easyui-validatebox"/></td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="carImportWay">车辆引入方式:</label></td>
            <td class="form_tdr"><input name="carImportWay" id="carImportWay" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="engineNo">发动机型号:</label></td>
            <td class="form_tdr"><input name="engineNo" id="engineNo" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
          </tr>
          <tr class="form_tr_odd">
                     <td class="form_tdl"><label for="oilConsumption">油耗:</label></td>
            <td class="form_tdr"><input name="oilConsumption" id="oilConsumption" required="true" class="easyui-validatebox" validType="checkSpacebar"/></td>
            <td class="form_tdl"><label for="carIsActivity">是否活动:</label></td>
            <td class="form_tdr">     
            	<select class="easyui-combobox" name="carIsActivity" editable="false">
					<option value='1'>是</option>
					<option value='2'>否</option>
				</select></td>
          </tr>
          <tr>
          	 <td class="form_tdl"><label for="comment">备注:</label></td>
            <td class="form_tdr" colspan="3"><textarea style="height: 80px; width: 250px;" name="comment" id="comment" validType="checkSpacebar"></textarea></td>
          </tr>
        </table>
      </form>
    </div>
    <!-- 修改车辆模块 end -->

    <!-- 车辆详细信息 begin -->
    <div id="carInfo_detail_dialog" title="车辆详细信息" class="easyui-dialog" 
      style="width: 800px; height: 450px; padding: 10px 20px" closed="true" buttons="#detail-dlg-buttons">
     <div class="ftitle">车辆详细信息</div>
      <form id="carInfo_detail_form" class="detail_form" novalidate>
        <table style="width: 100%; border: none; border: 0;" cellpadding="0" cellspacing="0">
          <tr class=form_tr_odd>
            <td width="20%" class="form_tdl"><label for="carNo">车辆编号:</label></td>
            <td width="30%" class="form_tdr"><input name="carNo" id="carNo"/>
              <input name=carId id="carId" type="hidden"/>
            </td>
        
            <td class="form_tdl"><label for="carCardId">车牌号:</label> </td>
            <td class="form_tdr"><input name="carCardId" id="carCardId" class="easyui-validatebox"/></td>
          </tr>
          <tr>
            <td class="form_tdl"><label for="carType">车辆类型:</label> </td>
            <td class="form_tdr"><input name="carType" id="carType" class="easyui-validatebox" /></td>
       
            <td class="form_tdl"><label for="carLsp">承运商 :</label></td>
            <td class="form_tdr"><input name="carLsp" id="carLsp" class="easyui-validatebox"/></td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="carBuyingTime">购买时间:</label></td>
            <td class="form_tdr"><input name="carBuyingTime" id="carBuyingTime" class="easyui-validatebox"/></td>
       
            <td class="form_tdl"><label for="defaultDriver">默认司机:</label></td>
            <td class="form_tdr"> <input name="defaultDriver" id="defaultDriver" class="easyui-validatebox"/></td>
          </tr>
          <tr>
            <td class="form_tdl"><label for="carModel">车型 :</label></td>
            <td class="form_tdr"><input name="carModel" id="carModel" class="easyui-validatebox"/></td>
    
            <td class="form_tdl"><label for="carLeaveFactoryDate">出厂日期:</label></td>
            <td class="form_tdr"><input name="carLeaveFactoryDate" id="carLeaveFactoryDate" class="easyui-validatebox"/></td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="productionCompany">生产厂家:</label></td>
            <td class="form_tdr"><input name="productionCompany" id="productionCompany" class="easyui-validatebox"/></td>

            <td class="form_tdl"><label for="carBoxLength">箱体长度:</label></td>
            <td class="form_tdr"> <input name="carBoxLength" id="carBoxLength" class="easyui-validatebox"/></td>
          </tr>
          <tr>
            <td class="form_tdl"><label for="oilConsumption">油耗:</label></td>
            <td class="form_tdr"><input name="oilConsumption" id="oilConsumption" class="easyui-validatebox"/></td>
          
            <td class="form_tdl"><label for="carVolume">核定体积:</label></td>
            <td class="form_tdr"><input name="carVolume" id="carVolume" class="easyui-validatebox"/></td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="useNature">使用性质:</label></td>
            <td class="form_tdr"><input name="useNature" id="useNature" class="easyui-validatebox"/></td>
          
            <td class="form_tdl"><label for="trainstionInsuranceCompany">交强险投保公司:</label></td>
            <td class="form_tdr"> <input name="trainstionInsuranceCompany" id="trainstionInsuranceCompany" class="easyui-validatebox"/></td>
          </tr>
          <tr>
            <td class="form_tdl"><label for="trainstionInsuranceOverDate">交强险截止时间:</label></td>
            <td class="form_tdr"><input name="trainstionInsuranceOverDate" id="trainstionInsuranceOverDate" class="easyui-validatebox"/></td>
          
            <td class="form_tdl"><label for="businessInsuranceCompany">商业险公司:</label></td>
            <td class="form_tdr"><input name="businessInsuranceCompany" id="businessInsuranceCompany" class="easyui-validatebox"/></td>
          </tr>
          <tr class="form_tr_odd">
            <td class="form_tdl"><label for="bisinessInsuranceOverDate">商业险截止时间:</label></td>
            <td class="form_tdr"><input name="bisinessInsuranceOverDate" id="bisinessInsuranceOverDate" class="easyui-validatebox"/></td>
          
            <td class="form_tdl"><label for="carImportWay">车辆引入方式:</label></td>
            <td class="form_tdr"> <input name="carImportWay" id="carImportWay" class="easyui-validatebox"/></td>
          </tr>
          <tr>
            <td class="form_tdl"><label for="engineNo">发动机型号:</label></td>
            <td class="form_tdr"><input name="engineNo" id="engineNo" class="easyui-validatebox"/></td>
          
            <td class="form_tdl"><label for="carIsActivity">是否活动:</label></td>
            <td class="form_tdr"> <input name="carIsActivity" id="carIsActivity" class="easyui-validatebox"/></td>
          </tr>
          <tr>
            <td class="form_tdl"><label for="comment">备注:</label></td>
            <td class="form_tdr" colspan="3"><textarea style="height: 80px; width: 400px;" name="comment" id="comment"></textarea></td>
          </tr>
        </table>
       </form>
     </div>
     <!-- 车辆详细信息 end -->
  </body>
</html>